.ember-application {
  height: 100vh;
}

.WeatherNow {
  background-color: rgba(255,212,169, 0.2);
  color: #888;
}

.ember-application > .ember-view { height: 100%; }

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph {
  height: 150px;
  width: 450px;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: 600;
  fill: #888;
}

.data, .labels {
  fill: #888;
  stroke-width: 1;
}
